@font-face {
  font-family: 'NeueMontreal-Medium';
  src: url('../fonts/NeueMontreal-Medium.woff') format('woff');
}
@font-face {
  font-family: 'NeueMontreal-Book';
  src: url('../fonts/NeueMontreal-Book.woff');
}


@font-face {
  font-family: 'NeueWorld';
  src: url('../fonts/NeueWorld-ExtendedThin.woff') format('woff');
}


@font-face {
  font-family: 'campton';
  src: url('../fonts/campton-Book.woff') format('woff');
  font-weight: normal;
}
@font-face {
  font-family: 'campton';
  src: url('../fonts/campton-Bold.woff') format('woff');
  font-weight: bold;
}
@font-face {
  font-family: 'campton';
  src: url('../fonts/campton-Light.woff') format('woff');
  font-weight: lighter;
}


@font-face {
  font-family: 'NanumBarunGothic';
  src: url('../fonts/NanumBarunGothic.woff') format('woff');
  font-weight: normal;
}
@font-face {
  font-family: 'NanumBarunGothic';
  src: url('../fonts/NanumBarunGothicBold.woff') format('woff');
  font-weight: bold;
}


@font-face {
  font-family: 'ppiko';
  src: url('../fonts/PPEiko-Thin.woff') format('woff');
}